@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

@layer components {
  .person-name {
    @apply font-bold duration-150 hover:text-[#0c3371];
  }

  .person-icon {
    @apply h-12 w-12 m-auto duration-150 hover:opacity-75;
  }

  .message-describe {
    @apply text-[#656c76];
  }

  .person-group-name {
    @apply text-[#696f7b] font-bold duration-150 hover:text-[#15336a];
  }

  .new-message-dot {
    @apply inline-block w-2 h-2 bg-[#ff4945] rounded-full m-auto ml-2;
  }

  .message-duration {
    @apply text-[#a9b0b9];
  }

  .message-container {
    @apply p-6 flex flex-row items-baseline cursor-pointer;
  }

  .message-container-new {
    @apply bg-[#f6fafd] rounded-lg;
  }
}
.toggle-btn:checked {
  background-color: #22c55e;
  /* bg-green-500 */
}

.toggle-btn:checked~span:last-child {
  --tw-translate-x: 1.75rem;
  /* translate-x-7 */
}